doctype html
extends layout

block content
  .container.h4
    if (!user)          
      a.btn(href="/login") Login
      br
      a.btn(href="/register") Register
    if (user)
      p You are currently logged in as #{user.username}
      a(href="/createpoll") Create a new poll
      br
      a(href="/logout") Logout
    br
    h3 Current polls available: 
    //- #{docs} !     
    for doc in docs
      * 
      a(href= "/poll/#{doc._id}") #{doc.name} 
      br
          
