doctype html
extends layout

block content
  .container.h4
    if (!user)          
      a.btn.btn-primary(href="/login") Login
      span      
      a.btn.btn-primary(href="/register") Register
    if (user)
      p.small.text-right.bg-success(style="padding: 10px") You are currently logged in as: #{user.username}
      a.btn.btn-default(href="/createpoll") Create a new poll
      span
      a.btn.btn-default(href="/aggregatepolls")(style="margin: 5px") Poll aggregates
      span
      a.btn.btn-primary(href="/logout")(style="margin: 5px") Logout
    p
    br
    table.table
      tr
        th.text-center Current polls available:               
      for doc in docs
        tbody
          tr       
            td.text-center 
              a(href= "/poll/#{doc._id}") #{doc.name} 
        
          
