doctype html
extends layout

block content
  .container.h4
    if (!user)          
      a.btn(href="/login") Login
      br
      a.btn(href="/register") Register
    if (user)
      p You are currently logged in as #{user.username}
      a.btn.btn-primary(href="/createpoll") Create a new poll
      p
      a.btn.btn-primary(href="/logout") Logout
    p
    .well
      h4 Current polls available: 
      //- #{docs} !     
      for doc in docs
        * 
        a(href= "/poll/#{doc._id}") #{doc.name} 
        br
          
