doctype html
extends layout

block content
    if (user)  
      h3 Create a new poll:
      .well
        form(role='form', enctype="application/json", action='/createpoll/upload', method='post')
          .form-group
            label Poll Name:
            span 
            input.name(type='text', id='name', name='name', placeholder='Poll Name')
          .form-group
            label Items (separated by comma)
            span
            input#items.items(type='text', name='items', placeholder='Items')
          button.submit.btn(name='submit', type='submit') Send
      a.btn.btn-primary(href= "/") Main Menu
